body{
    font-size: 18px;
    color: white;
    background-color: black;
}

h3{
    padding: 0;
    margin: 0;
    display: inline-block;
}

p{
    padding: 0;
    margin: 0;
    display: inline-block;  
}

li{
    padding: 0;
    margin: 0;
    display: inline-block;  
}

ul{
    padding: 0;
    margin: 0;
    display: inline-block;  
}



$premieryColor: #cde800;
